Package: com.arthurdapaz.fvideo
Name: FVideo
Depends: mobilesubstrate
Version: 0.5
Architecture: iphoneos-arm
Description: Facebook video downloader inspired by Prenesi
Maintainer: Arthur da Paz <arthurdapaz@me.com>
Author: Arthur da Paz <arthurdapaz@me.com>
Section: Tweaks
